@import "../../styles/theme.scss";

.container {
  display: none;
  width: 570px;
  height: 180px;
  border: 1px solid $themeLightBlue;
  box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.3);
  position: absolute;
  background-color: #fff;
}

.show{
  display: block;
}