@import "../../../styles/theme.scss";

.container{
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}

.left{
  width: 100px;
  height: 80px;
}

.right{
  width: 100%;
  margin-left: 20px;
}

.top{
  margin-top: 10px;
}

.bottom {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.top>*{
  display: inline-block;
}

.bottom>*{
  float: left;
}

.bottom:after{
  content: ' ';
  height: 0;
  visibility: hidden;
  clear: both;
  display: inline-block;
}

.browsers{
  max-width: calc(100% - 120px);
}

.browsers>*{
  display: inline-block;
}

.info-item{
  margin-right: 25px;
}

.info-item > [class^="icon-"]{
  font-size: 14px;
  margin-right: 10px;
  color: #666;
}

.name{
  color: $themeLightBlue;
  font-weight: 500;
}

.status-wrapper{
  min-width: 60px;
}

.status{
  background-color: $themeYellow;
  color: #fff;
  padding: 0 2px;
}

.browser{
  background-color: $themeBGGray;
  padding: 5px 30px 5px 5px;
  margin-right: 10px;
  font-weight: bold;
  position: relative;
  min-width: 82px;
  margin-top: 15px;
}

.browser:hover{
  cursor: pointer;
  background-color: $themeBGWeightGray;
}

.browser > [class^="icon-"]{
  font-size: 14px;
  margin-right: 10px;
  color: #666;
  position: absolute;
  right: 0;
}

.plus-button{
  background-color: $themeLightBlue;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 10px;
  padding: 5px 0;
  margin-top: 15px;
}

.plus-button:hover{
  background-color: $themeWeightBlue;
  cursor: pointer;
}

.plus-button > [class^="icon-"]{
  color: #fff;
  font-size: 14px;
}

.deny-button{
  width: 80px;
  height: 24px;
  background-color: $themeLightBlue;
  color: #fff;
  line-height: 24px;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.deny-button:hover{
  background-color: $themeWeightBlue;
  cursor: pointer;
}

.deny-button > [class^="icon-"]{
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}