@import "./reset.scss";
@import "./fonts.scss";
@import "./font-awesome.scss";
@import "./theme.scss";

body {
  margin: 0;
  min-width: $bodyMaxWidth;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2D4054;
  background-color: $bgColor;
}

.layout-app{
  display: flex;
  justify-content: center;
}

.layout-main{
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  max-width: $bodyMaxWidth;
  display: flex;
}


.layout-route-view{
  overflow-y: auto;
  padding: 25px;
}

@media screen and (min-width: $bodyMaxWidth){
  .layout-route-view{
    width: 1120px;
    margin-left: calc((100% - 1200px)/2 + 280px);
  }
}

@media screen and (max-width: $bodyMaxWidth){
  .layout-route-view{
    width: calc(100% - 280px);
    margin-left: 280px;
  }
}

input{
  border: 1px solid #ced4da;
}