@import "./reset.scss";
@import "./fonts.scss";
@import "./font-awesome.scss";
@import "./theme.scss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2D4054;
  background-color: $bgColor;
}

.layout-app{
  display: flex;
  justify-content: center;
}

.layout-main{
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 1400px;
  display: flex;
}

.layout-route-view{
  overflow-y: auto;
}