$bgColor: #F3F3F3;
$colorBlue: #2b91af;

$themeYellow: #FF9A2A;
$themeGreen: #7FBC39;
$themeLightBlue: #00B4CF;
$themeWeightBlue: #01869A;
$themeBGGray: #EFEFEF;
$themeBGWeightGray: #E1E4E6;
$themeLightDark: #435466;
$themeWeightDark: #2D4054;

$bodyMaxWidth: 1200px;

