@import "../../../styles/theme";

.container {
  display: none;
  width: 570px;
  height: 145px;
  border: 1px solid $themeLightBlue;
  box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.3);
  position: absolute;
  background-color: #fff;
  padding: 15px;
}

.container:before{
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  left: 20px;
  top: -20px;
  border-bottom: 20px solid $themeLightBlue;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.container:after{
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  left: 21px;
  top: -18px;
  border-bottom: 18px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.show{
  display: block;
}

.label{
  line-height: 20px;
  margin-top: 5px;
}

.close{
  position: absolute;
  right: 15px;
  top: 15px;

  [class="icon-close"]{
    color: $themeLightBlue;
  }
}

.close:hover{
  cursor: pointer;
  color: $themeWeightBlue;
}

.input-text{
  margin-top: 10px;
}

.input-text input{
  width: 100%;
  height: 32px;
  border-radius: 2px;
  padding: 0 0 0 4px;
  outline-style: groove;
  outline-width: 1px;
  outline-color: #E1E4E6;
}

.options{
  margin-top: 15px;

  *{
    display: inline-block;
  }

  .button{
    color: #fff;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
  }
}

.confirm-button{
  background-color: $themeLightBlue;
  margin-right: 15px;
}

.confirm-button:hover{
  background-color: $themeWeightBlue;
}

.cancel-button{
  background-color: $themeLightDark;
}

.cancel-button:hover{
  background-color: $themeWeightDark;
}